@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&amp;family=Open+Sans+Condensed:wght@300&amp;display=swap');
html {
    font-family: 'Lato', sans-serif;
}
body{
    background-image: url(../Imagem/Ibirapuera.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #8FB890;
}
div{
    width: 400px;
    height: 300px;
    margin: 175px 150px;
    padding:20px;
    box-sizing: border-box;
    background-color: rgba(25, 58, 149, 0.671);

}
h1{
    text-align: center;
    text-transform: uppercase;
    color:#FFF;
    font-size: 30px;
    font-weight: 200;
}
p{
    text-align: justify;
    line-height: 1.6;
    color:#fff;
    margin-bottom: 40px;
    font-size: 16px;
}
a{
    color: rgb(28,58,149);
    text-decoration: none;
    font-weight: 900;
    border: solid ;
    background-color: #fff;
    padding: 10px 30px;
    box-sizing: border-box;
}